/* ///////////////
   YOUR TASK: The key is making sure
   the div are correctly nested in the HTML file.
   ///////////////

   1. At a viewport width of 32.5em
      and bigger, .subscribe and 
      .recent-episodes-col should go next to 
      one another(display: flex; flex-direction: row, Make a column)

  2.  They should both be equal in width
      until .subscribe (max-width: 25rem flex-grow: 1;)reaches a width
      of 25rem, at which point it no longer
      grows anymore, and .recent-episodes-col(flex-grow:1; )
      continues to grow to take up the 
      rest of the available space
*/

/* Initialize flex-row */
.flex-row {
    display: flex;
    flex-direction: column;
}

/* set background-color of 
grasscast-col to green */
.grasscast-col {
    background-color: hsl(155, 97%, 24%);
}

/* NOTE: flex-container is a block-level element, It does not need to be flex, since the layout is a 2 column vertical grid */

/* Adjust container sizes when width reaches 32.5em */
@media (min-width: 32.5em) {
      /* Change the direction of flex-row, at the container level.  This will make grasscast and recent-episodes-col containers display as columns */
  .flex-row {
    flex-direction: row;
}
    /* Ensure that flex-containers direct children will always have equal width.
    Whatever their number */
    .flex-container > *{
        width: 100%;
    }

    /* Grab the first child of the flex-container */
  .flex-container:nth-child(1) {
    background: salmon;
  }

  /* Grab the first flex-col,
  grasscast-col and change color
  to orange*/
  .flex-col:nth-of-type(1) {
    background-color: orange;
  }

  /*Grab the second flex-col*/
  .flex-col:nth-of-type(2) {
    /* flex-direction: row; */
    color: blue;
    background-color: yellow;
  }

  /* Width of the item must be placed at the column level. */
  .flex-col {
    width: 100%;
  }
  
  /* flex-grow is a flex-item property */
  .recent-episodes-col {
      flex-grow: 1;
      padding: 32px;
  }

  /* flex-grow and max-width are flex-item properties, max-width, stops flex-grow at a certain width*/
  .subscribe {
      max-width: 25rem;
      flex-grow: 1;
  }
  
}
